@use 'base/mixins' as m;

@use 'base/variables' as v;
.header {
	position: relative;

	&_background {
		position: absolute;
		z-index: -1;
	}

	&_Navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-top: 2%;

		.nav {
			width: 76%;
			position: sticky;

			ul {
				width: 75%;
				display: flex;
				justify-content: space-between;

				li {
					a {
						padding: 5rem;
						color: v.$negro;
						font-weight: 500;
						letter-spacing: 1rem;
						text-transform: uppercase;
						border-radius: 5rem;
						transition: all 0.5s;

						&:hover {
							@include m.linearGradient;
						}
					}

					.active {
						@include m.linearGradient;
						color: v.$blanco;
					}
				}
			}
		}
	}
}
